<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clubinfo.mescours" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MesCours</name>
    <description>
        Retrouvez la salle et l'heure de tous vos cours aux Ponts !
    </description>
    <author email="clubinfo@clubinfo.enpc.fr" href="http://clubinfo.enpc.fr/">
        KI ENPC - Mickaël Bergem
    </author>

    <content src="index.html" />
    <access origin="*" />

    <feature name="http://api.phonegap.com/1.0/network" />
    <icon src="res/icon.png" />
</widget>
