md-toolbar(md-scroll-shrink)
  .md-toolbar-tools
    h3(ng-click="toggleSidebar()")
      | Emploi du temps
    span(flex)
    select(
      ng-model="currentDepartment"
      ng-options="department for department in departments"
      class="form-control"
    )
      option(value="") Tous

.loader(layout, layout-align="center center", ng-hide="courses || errorNoNetwork")
  md-progress-circular(md-mode="indeterminate")
  span Chargement en cours...

.autocenter(layout, layout-align="center center", ng-show="errorNoNetwork")
  md-button.md-primary.md-raised(ng-click="loadCourses()") Réessayer

md-list(ng-if="courses", layout-margin)
  md-item(ng-repeat="course in filteredCourses = (courses | filter: departmentFilter | filter: pastCourseFilter)")
    md-item-content
      .md-tile-left.timedate
        | {{ course.time_begin | date : 'HH:mm' }}
        br
        small {{ course.time_end | date : 'HH:mm' }}
      .md-tile-content
        h3 {{ course.name }}
        h4 {{ course.place }}
        p {{ course.comment }}
      .md-tile-right.department(ng-hide="currentDepartment")
        | {{ course.department }}

    md-divider(ng-if="!$last")

  .autocenter(ng-hide="filteredCourses.length > 0")
    h2.text-center Aucun cours !
    div(ng-show="prefs.hidePastCourses")
      p Vous avez choisi de cacher les cours qui sont déjà terminés, pour cette journée.
      md-button.md-raised.md-primary.full-width(ng-click="prefs.hidePastCourses = false") Les montrer
    div(ng-hide="prefs.hidePastCourses")
      p Il n'y a aucun cours aujourd'hui.
