.loader
  margin auto

  span
    display inline-block
    margin-left 1em

.autocenter
  margin auto

.department
  text-align center
  text-transform uppercase

  margin-right 10px

.timedate small
  font-size normal
  opacity 0.7
