.loader
  margin auto

  span
    display inline-block
    margin-left 1em

.autocenter
  margin auto

.department
  text-align center
  text-transform uppercase

  margin-right 10px

.timedate small
  font-size inherit
  opacity 0.2

p.notice
  display block
  font-size small
  text-align justify

.full-width
  width 100%

.text-center
  text-align center
