doctype html
html(lang="en", ng-app="%module%")
  head
    title Emploi du temps
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="/favicon.png")
    link(rel="stylesheet", href="%styles%/vendor.css")
    link(rel="stylesheet", href="%styles%/app.css")
    meta(name="viewport", content="initial-scale=1.0, width:device-width")
  body(
    layout="vertical"
  )
    base(href="/")
    md-content(
      layout="column"
      layout-fill
      ui-view
    )

    script(src="%scripts%/vendor.js")
    script(src="%scripts%/app.js")
    script(src="%scripts%/templates.js")
